@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';



p {
  color: #2b303b;
}

b{
  color: #2b303b;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

html {background-color: rgba(219, 219, 219, 0.54);}
.wrapper{
  margin: 0;
  height: 100vh;
  width: initial;

}

.toolbar{
  text-align: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  background-color: #008dfd;
}

.box{
  width: 99%;
}

#leftcolumn, #rightcolumn {
  /*border: 1px solid white;*/
  float: left;
  height: 250vw;
  color: white;
}

@media screen and (min-width: 600px) {
  #leftcolumn {
    width: 50%;
    /*background-color: #111;*/
  }

  #rightcolumn {
    width: 50%;
    /*background-color: #777;*/
  }
}

@media screen and (max-width: 601px) {
  #leftcolumn {
    width: 50%;
    padding-top: 8%;
    /*background-color: #111;*/
  }

  #rightcolumn {
    width: 50%;
    padding-top: 8%;
    /*background-color: #777;*/
  }
}



.listdemoBasicUsage md-divider {
  margin-top: 15px;
  margin-bottom: 0; }

/*Desktop Search Bar*/
@media screen and (min-width: 601px) {
  .search-box {
    position: sticky; top:0;
    padding-top: 0.5%;
    padding-left: 2%;
    width: 99%;
    vertical-align: middle;
    white-space: nowrap;
    /*border: 3px solid blue;*/
  }
}

/*Mobile Search Bar*/
@media screen and (max-width: 600px) {
  .search-box {
    position: sticky; top:0;
    padding-top: 0.5%;
    padding-left: 1%;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    /*border: 3px solid blue;*/
  }
}

.search-box input#search{
  -webkit-appearance: none;
  width: 100%;
  height: 50px;
  background: #4b5261;
  border: none;
  font-size: 10pt;
  color: #f5faff;
  padding-left: 45px;
  -webkit-border-radius: 8px; /* Pad the search query */
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.search-box input#search::-webkit-input-placeholder {
  color: #f3f3f3;
}

.search-box input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;
}

.search-box input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;
}

.search-box input#search:-ms-input-placeholder {
  color: #65737e;
}

 /*input[type="search"]::-webkit-search-cancel-button {*/

  /*!* Remove default *!*/
  /*-webkit-appearance: none;*/

  /*!* Now your own custom styles *!*/
  /*height: 20px;*/
  /*width: 20px;*/
  /*border-radius: 30%;*/
  /*background: red;*/
  /*margin-right: 3%;*/
  /*!* Will place small red box on the right of input (positioning carries over) *!*/

/*}*/







.search-box .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: -1;
  color: #c60d41;
  padding-bottom: 3%;
}


/* Voice record button */

@media screen and (min-width: 601px) {
  .voice-searchIcon-container {
    position: sticky; top:0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5%;
    vertical-align: top;


    /*float: left;*/
    /*border: 3px solid red;*/
    width: 98%;;
    height: 8%;

  }
}


@media screen and (max-width: 600px) {
  .voice-searchIcon-container {
    position: sticky; top:0;
    padding-top: 0.5%;
    margin: 0 auto;

    /*vertical-align: top;*/
    /*position: relative;*/
    /*float: left;*/
    /*border: 3px solid red;*/
    width: 98%;;
    height: 9%;

  }
}
.start-recording{
  position: sticky; top:0;
  /*vertical-align: middle;*/
  /*margin: 5% auto;*/
  /*background-color:#FE2222;*/
  /*border-radius:50%;*/
  width:3.5em; height:3.5em;
}

:before, :after{
  content:'';
  position:absolute;
  background-color:#fff;
}
.start-recording:after{
  top:30%; left:43%;
  height:15%; width:14%;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
}
.start-recording:before{
  top:40%; left:43%;
  height:15%; width:14%;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
}
.mc{
  position:absolute;
  top:55%; left:37%;
  height:24%;
  width:26.5%;
  overflow:hidden;
}
.mc:before{
  bottom:45%;
  width:100%; height:100%;
  box-sizing:border-box;
  border-radius:60%;
  border:0.4em solid #fff;
  background:none;
}
.mc:after{
  top:60%; left:40%;
  width:20%; height:20%;
}


.stop-recording{
  position:relative;
  /*margin: 5% auto;*/
  background-color: #40fe10;
  border-radius:57%;
  width:3.5em; height:3.5em;
}







.row {
  margin-bottom: 20px;
}

/*Mobile Search Results*/
@media screen and (max-width: 600px) {
  /* Search Results */
  .results {
    width: 97vw;

    padding-top: 5%;

  }
}

/*Desktop Search Results*/
@media screen and (min-width: 601px) {
  /* Search Results */
  .results {
    width: 100vw;
    width: 100vh;
    padding-top: 8%;
    width: 99%;

  }
}




.list-group-item{
background-color: #f3f3f3;
  border-radius: 5%;
}
.questionTitle{
  padding: 5%;
  color: #050a77;
  font-size: x-large;
  text-align: center;

}
.questionText{
  font-size: large;
  padding: 2%;
}

.answerText{
  padding: 2%;
}

.searchHistory{
  /*padding-left: 5%;*/
}

@media screen and (max-width: 600px) {

  .searchHistoryItem {
    position: absolute;
    visibility: hidden;
    margin: 3%;
    border-radius: 9%;
    text-align: center;

  }

  #recentSearchesHeader {
    position: absolute;
    visibility: hidden;
    color: #f3f3f3;
    padding-left: 25%;

  }
}

  mat-toolbar-row {
    justify-content: space-between;
  }




center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;

}
